
<div class="row">
    <!-- BEGIN JOB STATISTICS -->
    <div class="col-md-12 col-sm-12 ">
        {{> ../sections/dashboard-workers}}
    </div>
    <!-- END JOB STATISTICS -->
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="portlet light tasks-widget bordered dashboard-task-list dashboard-task-list-pending dashboard-task-list-preview"
             id="portlet-pending-tasks-list">
            <!-- START TASK LIST -->
            {% include "main-pending-tasks.html" %}
            <!-- END START TASK LIST -->
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet light bordered dashboard-task-list">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-tasks font-blue"></i>
                    <span class="caption-subject font-blue bold uppercase">Completed Tasks</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                    <!-- START TASK LIST -->
                    <div id="completed_tasks"></div>
                    <!-- END START TASK LIST -->
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="/history/">See All Records</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#ifEquals session.level 0}}
    <!-- START LOGIN POPUP -->
    {{> ../sections/login-popup}}
    <!-- END LOGIN POPUP -->
{{/ifEquals}}
{{#ifEquals session.level 1}}
    {{setVar "minimum_required_sponsorship_level" "Supporter"}}
    <!-- START INSUFFICIENT PERMISSIONS POPUP -->
    {{> ../sections/insufficient-permissions}}
    <!-- END INSUFFICIENT PERMISSIONS POPUP -->
{{/ifEquals}}
