<div class="container-fluid">
    <!-- BEGIN GLOBAL POPUPS -->
    {{!--{# :components_bootstrap_select: #}--}}
    <div id="unmanic-filebrowser-popup" class="modal fade" tabindex="-1"></div>
    <!-- BEGIN FOOTER -->
    <p class="copyright">
        Version - {{unmanic_version}}
        <br>
        2018 © Unmanic by Josh Sunnex.
        ·
        <a title="Privacy Policy" href="#" target="_blank"
           data-toggle="modal" data-target="#privacy-policy-popup">
            Privacy Policy
        </a>
    </p>

    {{> ./sections/privacy-policy}}
    <a href="#index" class="go2top">
        <i class="icon-arrow-up"></i>
    </a>
    <!-- END FOOTER -->
</div>
