<header class="page-header">
    <nav class="navbar navbar-expand-lg nav-collapse">
        <div class="container-fluid">
            <!-- BEGIN HEADER BAR -->
            <div class="clearfix navbar-fixed-top">
                <!-- BEGIN LOGO -->
                <a id="index" class="navbar-brand" href="/">
                    <img src="/public/images/logo.png" alt="Logo">
                </a>
                <!-- END LOGO -->

                <!-- BEGIN TOGGLE BUTTON -->
                <!-- Brand and toggle get grouped for better mobile display -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- End Toggle Button -->

                <!-- BEGIN TOP RIGHT ACTIONS -->
                {{> ./sections/header-actions}}
                <!-- END TOP RIGHT ACTIONS -->
            </div>
            <!-- END HEADER BAR -->

            <!-- BEGIN HEADER MENU -->
            {{> ./sections/header-nav}}
            <!-- END HEADER MENU -->

        </div>
    </nav>
</header>
