<div class="wrapper">
    <!-- BEGIN HEADER -->
    {{> ./header}}
    <!-- END HEADER -->

    <!-- BEGIN PAGE CONTENT -->
    {{> ./content}}
    <!-- END PAGE CONTENT -->

    <!-- BEGIN FOOTER -->
    {{> ./footer}}
    <!-- END FOOTER -->
</div>
