<div class="topbar-actions">

    <!-- BEGIN DOCUMENTATION LINK -->
    <div class="btn-group-red btn-group">
        <button type="button" class="btn btn-sm"
                data-toggle="tooltip" title="Documentation"
                onclick="window.open('https://docs.unmanic.app/', '_blank')">
            <i class="fa fa-question"></i>
        </button>
    </div>
    <!-- END DOCUMENTATION LINK -->

    <!-- BEGIN SESSION STATUS -->
    <div class="btn-group-img btn-group">
        {{#ifEquals session.level 0}}
            <div class="btn btn-sm support-btn-container">
                <a title="Support future development" class="support-btn"
                   data-target="#support-future-development-popup" data-toggle="modal"
                   style="background-color:#009dc7;" href="#"
                   target="_blank">
                        <span class="support-btn-text">
                            <img src="/public/images/coffee-btn-image.png" alt="donations"
                                 class="support-btn-img">
                            Support Future Development
                        </span>
                </a>
            </div>
        {{/ifEquals}}
        {{#ifGreaterThan session.level 0}}
            <button class="btn btn-sm dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                {{!--data-hover="dropdown" data-close-others="true"--}}>
                <span>Hi, {{session.name}}</span>
                <img src="{{session.picture_uri}}" alt="">
            </button>
            <ul class="dropdown-menu dropdown-menu-v2" role="menu">
                <li class="divider"></li>
                <li>
                    <a href="#" class="unmanic-sign-out">
                        <i class="icon-key"></i> Sign Out
                    </a>
                </li>
            </ul>
        {{/ifGreaterThan}}
    </div>
    <!-- END SESSION STATUS -->

</div>
