<div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown dropdown-fw {{#ifEquals page_name 'Dashboard'}}active open selected{{/ifEquals}}">
            <a href="/" class="nav-link text-uppercase">
                <i class="icon-home"></i> Dashboard
            </a>
        </li>
        <li class="nav-item dropdown dropdown-fw {{#ifEquals page_name 'Settings'}}active open selected{{/ifEquals}}">
            <a href="/settings/?step=general" class="nav-link text-uppercase">
                <i class="icon-settings"></i> Settings
            </a>
        </li>
        <li class="dropdown dropdown-fw {{#ifEquals page_name 'Plugins'}}active open selected{{/ifEquals}}">
            <a href="/plugins/" class="nav-link text-uppercase">
                <i class="icon-puzzle"></i> Plugins
            </a>
        </li>
    </ul>
</div>
