.unmanic-worker-progress-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unmanic-worker-progress-container > * {
    position: absolute;
}

.worker-progress-inner {
    width: 80px;
    height: 80px;
    background-color: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.worker-progress-status {
    font-size: 1.2em;
    margin-left: 0.3em;
}

.worker-progress-value {
    font-size: 1.5em;
}

.worker-progress-unit {
    margin-left: 0.5em;
}
